.btn {
  border-radius: 0.4rem;
  width: 7rem;
  height: 2.5rem;
  margin: 0.5rem;
}

.btn-primary {
  background-color: #00b106;
  color: #fff;
  border: 0;
}

.btn-secondary {
  background-color: #fff;
  color: black;
  border: 0;
}
